name: Publish to NuGet

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.404  # Choose the version you want

    - name: Restore dependencies
      run: dotnet restore

    - name: Build and pack
      run: dotnet pack -c Release /p:Version=${{ github.event.inputs.version }}

    - name: Publish to NuGet
      run: dotnet nuget push ./bin/Release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
